
<div class="message-content">
        <div class="message-profile-picture">
            <p class="username" id ='nameBenny'></p>
            <img id='pictureBenny' src=''>
        </div>
        <div class="message-info-holder">
            <p id ="post-text"></p>
        </div>
    </div> 
</div>