
<div class="message-content">
        <div class="message-profile-picture">
            <p class="username">Benny Chan</p>
            <img src="https://images-na.ssl-images-amazon.com/images/I/314e1jgfh0L.jpg">
        </div>
        <div class="message-info-holder">
            <p id ="post-text">Hey! Welcome to Benny Chan! Enjoy your stay.</p>
        </div>
    </div> 
</div>