body {
  margin: 0;
    background-color: coral;
}

.dark_mode{
  background-color: rgb(73, 71, 71);
}
.dark_mode_name{
  background-color:purple;
}

.dark_mode_label{
  color: white;
}


.banner{
  background-color: #666699;
  display: flex;
  align-items: center;
  position: relative;
  border: 2px green solid;
  height: 15vh;
}
.center{
  min-width: 130px;
  margin: auto;
  width: 10%;
  height: 50%;
  padding: 20px; 
  border: 2px black dashed;
}

.site-name {
  margin: auto;
  width: 50%;
  height:4vw;
  border: 5px orange solid;
  padding: 20px;    
}

.site-name-text{  
  text-align: center;
  font-size: 4vw;
  margin: auto;
}

#menu{
	width: 35px;
	height: 30px;
	margin: 30px 0 20px 20px;
	cursor: pointer;
}
.bar{
	height: 5px;
	width: 100%;
	background-color: white;
	display: block;
	border-radius: 5px;
	transition: 0.3s ease;
}
#bar1{
	transform: translateY(-4px);
}
#bar3{
	transform: translateY(4px);
}
.nav li a{
	color: #fff;
	text-decoration: none;
}
.nav li a:hover{
  font-weight: bold;
  cursor: pointer;
}
.nav li{
	list-style: none;
	padding: 16px 0;
}
.nav{
	padding: 0;
	margin: 0 20px;
	transition: 0.3s ease;
	display: none;
}
.menu-bg, #menu-bar{
	top: 0;
	left: 0;
	position: absolute;
}
.menu-bg{
	z-index: 1;
	width: 0;
	height: 0;
	margin:0px;
  background: black;
  opacity: 80%;
  background: radial-gradient(circle,black,grey);
	transition: 0.3s ease;
}
#menu-bar{
	z-index: 2;	
}
.change-bg{
	width: 100%;
	height: 540px;
}
.change .bar{
	background-color: white;
}
.change #bar1{
	transform: translateY(4px) rotateZ(-45deg);
}
.change #bar3{
	transform: translateY(-6px) rotate(45deg);
}
.change #bar2{
	opacity: 0;
}
.change{
	display: block;
}


.site-options {
  display:none;
  max-width: 300px;
  margin: 10px 10px auto 10px;
  padding: 20px;
  border-radius: 3px;
  background-color: oldlace;
}

.site-options img {
    
  max-height: 100px;
  max-width: 250px;
}

.chatbox {
  background-color: white;
  position: relative;
  min-width: 130px;
  margin: auto;
  width: 50%;
  height: 600px;
  padding: 20px; 
  border: 2px black solid;
}

.message {
    width: 100%;
    flex-wrap: wrap;
    height: 100%;
    overflow:hidden;
    border-bottom: 5px purple solid;
}

.message-info-holder{
    display: inline-block;
    
}

.message-info-holder p{
    font-size: 1vw;
    word-wrap: normal;
}

.message-profile-picture{
  text-align: center;
}

.message-info-holder{
 float: left;
}
#post-text{
   width: 100%; 
   min-width: 300px;
   word-break: break-all; 
   word-wrap: break-word;
   float:left;
}
.upvote{
    float:left;
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.upvote p{
    width: 100%;
    height:100%;
    top:0px;
    margin: auto;
    text-align: center;
}

.upvote button{
    top:0px;
    margin: auto;
    height:25px;
    width:25px;
}
.username{
    float:left;
}
.chatbox img {  
  width: 3vw;
  height: 3vw;
  display: inline-block;
}


.chatbox-sender{
    margin: auto;
    position: absolute;
	bottom: -80px;
	left: 0px;
}


.send-message{
    position: relative; 
    height: 25px;
    width: 25px;
    left: 200px;
    bottom: 25px;
}
