<!DOCTYPE html>
<html>
    
  <head>
      
    <meta charset="utf-8">
    <title>Final Project</title>

    <!-- This 3rd-party stylesheet incorporates SVG icons from Font Awesome: http://fontawesome.com/ -->
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <link rel="stylesheet.css" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" crossorigin="anonymous">
    <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script src="/index.js" defer></script>
    <script>
        // Gathering room name 
      const roomName = "<%= roomName %>";
    </script>

      
  </head>
    
  <body id="body">
      <audio id="audio" src="https://www.soundjay.com/button/sounds/button-16.mp3" autoplay="false" ></audio>
      
    <!--   This is our banner or the top of the webpage -->
    <%- include('partials/banner.ejs') %>
    <h4>Room: <%= roomName %></h4>
      <div id="menu-bar">
        <div id="menu" onclick="onClickMenu(), playSound()">
          <div id="bar1" class="bar"></div>
          <div id="bar2" class="bar"></div>
          <div id="bar3" class="bar"></div>
        </div>
        <ul class="nav" id="nav">
          <li>MENU</li>
          <li><a onClick="playSound()" href="/">Chat Rooms</a></li>
          <li><a onClick="darkMode(), playSound(), onClickMenu()">Dark Mode</a></li>
          <li><a onClick="changeColor(), playSound(), onClickMenu()" >Random Text Color</a></li>
          <li><a onClick="muteSound(), onClickMenu()" id="sound">Toggle Sound</a></li>
        </ul>
      </div>

      <div class="menu-bg" id="menu-bg"></div>

    <!--   This is our overall content for the page -->
      
    <main class="site-content">

        <div class="site-user-info, center" id= "site-user-info">
          <label for="site-username-btn" class="username-static-label" id="dark-mode-user">Username:</label>
          <label for="site-username-btn" class="username-dynamic-label" id="dark-mode-user-name">Anon</label>
          <div class="site-username-btn">
              <button id="username-btn" class="change-username-btn" onclick="onClickName(), playSound()">Change Username</button>          
            </div>
        </div>

  
        <!--   This is our chatbox / chatbox sender-->
   
        <section class="chatbox" id="chatbox">
            
                    <!--   This is the outline for messages-->

            <div class = "message-display" id="message-display">
                <div class = "message">
                    
                        <%- include ('partials/post.ejs') %>
                        <!-- <div class="message-content">
                        <div class="message-profile-picture">
                            <p class="username">Benny Chan</p>
                            <img src="https://images-na.ssl-images-amazon.com/images/I/314e1jgfh0L.jpg">
                        </div>
                        <div class="message-info-holder">
                            <p id ="post-text">Hey! Welcome to Benny Chan! Enjoy your stay.</p>
                        </div>
                    </div> 
                </div> -->
                     <!--   This is the chatbox sender-->

                <form class="chatbox-sender">
                    <label for="chatbox-message" class="chatbox-label-text" id="dark-mode-send">Send Messages</label>
                    <div class="chatbox-label-div">
                        <input type="text" name="chatbox-message" id="chatbox-id" class="chatbox-class">
                    </div>
                    <div>
                        <button id="send" class ="send-message" onclick="playSound()" >SENDIT</button>    
                    </div>
                  </form>
            </div>
                
        </section>
           <div id="modal-background" class="hidden"></div>
        <div id="modal-content" class="hidden">
            <div class="modal-header">
                <h3>Change Profile</h3>
                <button type="button" id="close-modal" onClick="playSound()">&times;</button>
            </div>
            <div class="modal-body">
                <div class="user-input-elem">
                    <label for="username-input">Type username here!</label>
                    <input type="text" id="username-input" />
                </div>
                <div class="user-input-elem">
                    <label for="profile-photo-url">Enter URL here!</label>
                    <input type="text" id="profile-photo-url" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="ok-profile" onClick="playSound()">OK</button>
            </div> 
        </div>
            
    </main>

  </body> 
</html>
